@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* font-size: 14px; */
}

.dark {
  color-scheme: dark;
}

.draggable {
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
}

body {
  @apply h-screen w-screen overflow-hidden bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-50;
}

/* Chrome Pciekr */
.chrome-picker {
  color-scheme: light;
}

/* Emoji Pciker */
.EmojiPickerReact {
  --epr-preview-height: 3rem;
}
.EmojiPickerReact .epr-header-overlay,
.EmojiPickerReact .epr-category-nav {
  @apply p-2 !important;
}
.EmojiPickerReact .epr-icn-search {
  font-size: 1.5rem !important;
}
.EmojiPickerReact .epr-body {
  @apply overflow-y-auto !important;
}
.EmojiPickerReact .epr-preview .epr-emoji-img {
  @apply h-8 w-8 !important;
}
@layer base {
  ::-webkit-scrollbar {
    @apply w-3 bg-white dark:bg-gray-900;
  }

  ::-webkit-scrollbar-track {
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-200 hover:bg-gray-300 dark:bg-gray-700 dark:hover:bg-gray-600;
    box-shadow: inset 0 0 0 2px #fff;
  }

  .dark ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 2px #171a1d;
  }
}
